<div class="banner">
  <div class="left-banner">
    <div class="text-content">
      <h1>Bienvenue sur Solid' île !</h1>
      <p>Solid' île est LA plateforme pour soutenir les commerçants de Belle-Île-En-Mer en cette période où nombre d'entre eux sont contraints de fermer. Profitez-en pour acheter local et préparer les cadeaux de Noël à l'avance !</p>
      <%= link_to "Tous les commerçants", commerces_path, class: "site-button" %>
    </div>
  </div>
  <img src="https://images.unsplash.com/photo-1589211188290-afeb38d1a655?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80" alt="">
</div>
