.site-button {
  text-align: center;
  text-decoration: none;
  background-color: #f2cc8f;
  color: rgba(0, 0, 0, 0.8);
  padding: 4px 10px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  font-family: 'Cabin Sketch';
  font-size: 20px;
}
